#app {
    --nav-bar-background: #fff;
    --global-padding: 8rem;
    
}

#nav-bar {
    --nav-elements-color: #343e5c;
    --bars-color: #f0f2f7;
    --unselected-items: #b9bed1;

    width: 100%;
    background-color: var(--nav-bar-background);

    display: flex;
    flex-direction: column;

}

.principal-nav {
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);

    display: flex;

    border-bottom: 1px solid var(--bars-color);
   
}

#nav-bar .left-side {
    display: flex;
    flex: 3;
}

#nav-bar .center-side {
    flex: 6;
}

#nav-bar .right-side {
    flex: 3;
}



.burger-container {
    border-right: 1px solid var(--bars-color);
    padding: 2rem
}

.burger {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 1.2rem;

    justify-content: space-between;

    cursor: pointer;

}
.burger .burger-line {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--nav-elements-color);   
    border-radius: 8px;
}

.left-side .logo {
    padding: 2rem;
}

.logo .logo-img {
    width: 6rem;
    object-fit: contain;
}


.center-side .center-nav {
    display: flex;
    padding: 1.6rem;
    justify-content: space-around;
    flex: 1;
}

.center-nav .item {
    font-weight: 600;
    font-size: 1rem;
    color: var(--nav-elements-color);
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.right-side .cart {
    display: flex;
    margin-right: 2rem;
}

.cart .cart-btn {
    background-color: transparent;
    margin-right: 0.5rem;

}

.cart-btn .cart-icon {
    padding: 6px;
}

.cart .btn-content {
    font-variant: small-caps;
    font-size: 1.2rem;
    margin-left: 0.5rem;

}

.cart .cart-icon {
    font-size: 1.2rem;
    color: var(--nav-elements-color);
}

.cart .items-quantity {
    background-color: var(--bars-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.right-side .sign-in-btn {
    font-variant: small-caps;
    font-size: 1rem;
    color: var(--nav-elements-color);
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid var(--bars-color);
    padding: 0.5rem 1rem;
}



#nav-bar .secondary-nav {
    display: flex;
    padding: 0 var(--global-padding);
}

.secondary-nav .secondary-navigation {
    flex: 9;
    display: flex;
    padding-left: 2rem;
}

.secondary-navigation .sec-nav-left {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.sec-items-container .sec-item{
    font-size: 1.2rem;
    font-variant: small-caps;
    color: var(--unselected-items);
    font-weight: 500;
}

.sec-item.active {
    color: var(--nav-elements-color);
}


.secondary-navigation .sec-nav-right {
    display: flex;
    flex: 1;
    justify-content: right;
}

.secondary-nav .text-search {
    flex: 3;
    border-right: 1px solid var(--bars-color);
    border-left: 1px solid var(--bars-color);
    padding: 1rem;
    display: flex;
}


.text-search .search {
    border: none;
    text-indent: 0.5rem;
    font-size: 0.85rem;
}

.text-search .search-icon {
    color: var(--nav-elements-color);
}

#support {
    font-weight: 300;
    margin: 0 2.5rem;
}

@media screen and (min-width: 960px ) {
    :root {
        font-size: 8px;
    } 
}

@media screen and (min-width: 1166px ) {
    :root {
        font-size: 9px;
    } 
}

@media screen and (min-width: 1366px ) {
    :root {
        font-size: 10px;
    } 
}

@media screen and (min-width: 1420px ) {
    :root {
        font-size: 11px;
    } 
}

@media screen and (min-width: 1620px ) {
    :root {
        font-size: 12px;
    } 
}

@media screen and (min-width: 1820px ) {
    :root {
        font-size: 14px;
    } 
}


@media screen and (min-width: 1920px ) {
    :root {
        font-size: 16px;
    } 
}

@media screen and (min-width: 2140px ) {
    :root {
        font-size: 18px;
    } 
}

@media screen and (min-width: 2340px ) {
    :root {
        font-size: 20px;
    } 
}


@media screen and (min-width: 2540px ) {
    :root {
        font-size: 24px;
    } 
}

@media screen and (min-width: 2840px ) {
    :root {
        font-size: 26px;
    } 
}

@media screen and (min-width: 3440px ) {
    :root {
        font-size: 32px;
    } 
}


@media screen and (min-width: 3840px ) {
    :root {
        font-size: 36px;
    } 
}



#app #carousel {
    --carousel-background: #1c1e23;
    --arrow-color: rgba(255,255,255,0.5);
    --buy-btn-background: #2754eb;
    display: flex;
    padding: 1rem var(--global-padding);
    background-color: var(--carousel-background);
    height: 36rem;
    position: relative;
    overflow: hidden;
}

#carousel .info-text {
    flex: 1;
}

#carousel .info-img-container {
    flex: 1;
    display: flex;
    margin-right: 4rem;
    justify-content: space-around;
    align-items: center;
}

.info-img-container .info-img {
    margin-left: 4rem;
    margin-top: 6rem;
    height: 160%;
}

.info-img-container .right-arrow {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--arrow-color);
    border-radius: 50%;
    cursor: pointer;
}

.right-arrow .right-arrow-icon {
    font-size: 1.4rem;
    color: white;
    
}

#carousel .info-text {
    padding-left: 2rem;
    margin-left: 4rem;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}

.info-text > * {
    margin: 1.4rem 0;
    color: white;
}

.info-text .info-text-title {
    font-size: 2rem;
    font-weight: 900;
}

.info-text .info-text-body {
    font-size: 1rem;
}

.info-text .btn-group .buy-btn {
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: 700;
    color: white;
    background-color: var(--buy-btn-background);  
    border-radius: 50px;
    padding: 0.4rem 2rem;
}

#carousel .dots-container {
    position: absolute;
    display: flex;
    width: 4.6rem;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.dots-container .dot {
    width: 0.6rem;
    height: 0.6rem;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;

}

.dots-container .dot.full {
    background-color: white;
}





#website-body {
    --website-body-background: #e4e5e7;

    --containers-background: white;

    --check-mark-color: white;
    --check-mark-background: #00e2aa;

    --delimiter-color: rgba(0,0,0,0.2);

    --sub-items-color: rgba(0,0,0,0.5);

    --link-color: blue;


    --input-background: #f0f2f7;

    --filter-title-color: #a1a8bd;
    --filter-content-color: #343e5c;
    background-color: var(--website-body-background);

    padding: calc(var(--global-padding) / 2) var(--global-padding) calc(var(--global-padding) / 2) calc(var(--global-padding) + 2rem);


    /* testing  */
    min-height: 100vh;
}

#website-body .top-filter-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    background-color: var(--containers-background);
    border-radius: 0.8rem;
}

.top-filter-container > .filter-area {
    border-right: 1px solid var(--delimiter-color);
    padding: 1rem;
}

.top-filter-container > .filter-area:last-child {
    border-right: none;
}


.filter-area {
    display: flex;
    justify-content: center;
    align-items: center;
}


.match-title, .keywords-title, .price-range-title , .location-title{
    margin-right: 1rem;
}

.match-title, #match-select, .keywords-title, .price-range-title, .location-title, #location-select, .price-range {
    font-variant: small-caps;
    font-weight: 600;
}

.match-title, .keywords-title, .price-range-title, .location-title{
    color: var(--filter-title-color);
}

#match-select, #location-select, .price-range {
    color: var(--filter-content-color);
}

.price-range {
    width: 5rem;
}

.price-range::-webkit-outer-spin-button,
.price-range::-webkit-inner-spin-button  {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.keyword-container, .price-range-container, .shipping-container {
    display: flex;
    align-items: center;
}


.price-range, .keywords-input {
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background-color: var(--input-background);
    padding: 0.4rem;
    text-indent: 0.8rem;
}

.keywords-input {
    text-indent: 1rem;
    width: 10rem;
}

.dash-icon {
    font-size: 1rem;
    padding: 0 1rem;
}

.keyword-container, .price-range-container, .shipping-container {
    margin-right: 2rem;
}


.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}


.radio-custom {
    flex: 1;
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}


.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: var(--check-mark-color);
    background-color: var(--check-mark-background);
    font-size: 0.8rem;
    border: none;
}















.main-body {
    --spacing: 2rem;
    display: flex;

    padding: var(--spacing) 0;
}

.main-body .left-filter-section {
    flex: 1;
}

.main-body .products-container {
    flex: 3;
}

.main-body .left-filter-section {
    display: flex;
    flex-direction: column;
}

.left-filter-section .visual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;  
}

.left-filter-section .category {
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    overflow: hidden;
    border: 1px solid var(--input-background);
}
.left-filter-section .section {
    display: flex;
    flex-direction: column;
    background-color: var(--containers-background);

}

.left-filter-section:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.left-filter-section:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section .section-title {
    font-weight: 500;
}

.section .section-title-sm-caps {
    font-variant: small-caps;
    font-weight: 600;
}

.section .section-data {
    display: flex;
    flex-direction: column;
}

.section-data .item {
    background-color: var(--input-background);
}

.section > * {
    border-bottom: 1px solid var(--input-background)
}

.section-data > * {
    border-bottom: 1px solid var(--delimiter-color);
}

.section-data > *:first-child {
    border-top: 1px solid var(--delimiter-color);
}

.section-data .item .item-title {
    font-weight: 600;
    font-size: 1rem;
    font-variant: small-caps;
    color: var(--sub-items-color);
}

.section-data .item {
    display: flex;
    padding: 1rem 2rem;
}

.closed {
    display: none;
}

.opened {
    display: block;
}

.visual .section-select {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-select-variant {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.section-select-variant .select-variant {
    margin-right: 1rem;

    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid #e4e8f0;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 4px 0px white inset;
    cursor: pointer;
}

.select-variant:before {
    content:'';
    display:block;
    width:40%;
    height:40%;
    border-radius:50%;    
}


.select-variant:checked:before {
    background-color: #00deea;
}







.section-select-variant label {
    font-weight: 500;
    cursor: pointer;
}

.section-select-variant .quantity {
    font-weight: 500;
    color: var(--filter-title-color);
    font-variant: small-caps;
    font-size: 0.8rem;
}


.visual .all {
    border-bottom: 1px solid gray;
    font-weight: 700;
    font-variant: small-caps;
    color: var(--link-color);
}





.check-custom {
    opacity: 0;
    position: absolute;   
}

.check-custom, .check-custom-label {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}


.check-custom {
    flex: 1;
}

.check-custom + .check-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}


.check-custom + .check-custom-label:before {
    border-radius: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-custom:checked + .check-custom-label:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: var(--check-mark-color);
    background-color: var(--check-mark-background);
    font-size: 0.8rem;
    border: none;
}


.check-custom-container .check-custom-label {
    font-weight: 700;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.visual.no-bb {
    border-bottom: none;
    padding: 0.2rem 2rem;
}

.visual.no-bb:last-child {
    padding-bottom: 1rem;
}

.visual.no-b {
    border-bottom: none;
    padding: 0 2rem;
}

.section-select.row {
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
}

.section-select-variant.row {
    border-right: 1px solid var(--delimiter-color);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.section-select-variant.pp {
    padding-left: 4rem;
    padding-right: 4rem;
}

.section-select-variant.pp label {
    text-transform: uppercase;
    font-weight: 600;
}






















