html {
    scroll-behavior: smooth;
}

#app {
    --nav-bar-background: #fff;
    --global-padding: 8rem;
    --containers-background: white;
    --select-color: #00e2aa;
    --select-hover: rgba(0,0,0,0.05);
    --select-options-background: #35495e;
    --promoted-color: #3a405b;
    --filter-title-color: #a1a8bd;
}

#nav-bar {
    --nav-elements-color: #343e5c;
    --bars-color: #f0f2f7;
    --unselected-items: #b9bed1;
    width: 100%;
    background-color: var(--nav-bar-background);
    display: flex;
    flex-direction: column;
}

.principal-nav {
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    display: flex;
    border-bottom: 1px solid var(--bars-color);
}

#nav-bar .left-side {
    display: flex;
    flex: 3;
}

#nav-bar .center-side {
    flex: 6;
}

#nav-bar .right-side {
    flex: 3;
}

.burger-container {
    border-right: 1px solid var(--bars-color);
    padding: 2rem
}

.burger {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 1.2rem;
    justify-content: space-between;
    cursor: pointer;
}

.burger .burger-line {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--nav-elements-color);   
    border-radius: 8px;
}

.left-side .logo {
    padding: 2rem;
}

.logo .logo-img {
    width: 6rem;
    object-fit: contain;
    cursor: pointer;
}

.center-side .center-nav {
    display: flex;
    padding: 1.6rem 8rem;
    justify-content: space-between;
    flex: 1;
}

.center-nav .item {
    font-weight: 600;
    font-size: 1rem;
    color: var(--nav-elements-color);
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: right;
}

.right-side .cart {
    display: flex;
    margin-right: 2rem;
}

.cart .cart-btn {
    background-color: transparent;
    margin-right: 0.5rem;
}

.cart-btn .cart-icon {
    padding: 6px;
}

.cart .btn-content {
    font-variant: small-caps;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.cart .cart-icon {
    font-size: 1.2rem;
    color: var(--nav-elements-color);
}

.cart .items-quantity {
    background-color: var(--bars-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.right-side .sign-in-btn {
    font-variant: small-caps;
    font-size: 1rem;
    color: var(--nav-elements-color);
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid var(--bars-color);
    padding: 0.5rem 1rem;
}

#nav-bar .secondary-nav {
    display: flex;
    padding: 0 var(--global-padding);
}

.secondary-nav .secondary-navigation {
    flex: 9;
    display: flex;
    padding-left: 2rem;
}

.secondary-navigation .sec-nav-left {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.sec-items-container .sec-item{
    font-size: 1rem;
    font-variant: small-caps;
    color: var(--unselected-items);
    font-weight: 500;
}

.sec-item.active {
    color: var(--nav-elements-color);
}

.secondary-navigation .sec-nav-right {
    display: flex;
    flex: 1;
    justify-content: right;
    padding-right: 2rem;
}

.secondary-nav .text-search {
    flex: 3;
    border-right: 1px solid var(--bars-color);
    border-left: 1px solid var(--bars-color);
    padding: 1rem;
    display: flex;
}

.text-search .search {
    border: none;
    text-indent: 0.5rem;
    font-size: 0.85rem;
}

.text-search .search-icon {
    color: var(--filter-title-color);
}

.sec-item {
    font-weight: 300;
}

#app .carousel-item {
    --carousel-background: #1c1e23;
    --arrow-color: rgba(255,255,255,0.5);
    --buy-btn-background: #2754eb;
    display: flex;
    padding: 1rem var(--global-padding);
    background-color: var(--carousel-background);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.fotorama {
    position: relative;
}

.fotorama__nav-wrap {
    position: absolute;
    bottom: 4%;
}

.fotorama__nav__frame .fotorama__dot {
    padding: 0.2rem;
    border: 3px solid #7f7f7f;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
    padding: 0.2rem;
    background-color: white;
    border: 3px solid white;
}

.carousel-item .info-text {
    flex: 0.6;
}

.carousel-item .info-img-container {
    flex: 1;
    display: flex;
    margin-right: 4rem;
    justify-content: space-around;
    align-items: center;
}

.info-img-container .info-img {
    margin-left: 4rem;
    margin-top: 6rem;
    height: 160%;
}

.info-img-container .right-arrow {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--arrow-color);
    border-radius: 50%;
    cursor: pointer;
}

.info-img[alt="google_pixel"], .info-img[alt="one_plus"]  {
    height: 100%;
    margin-top: 0;
}

.info-img[alt="samsung_fold"]  {
    height: 70%;
    margin-top: 0;
}

.right-arrow .right-arrow-icon {
    font-size: 1.4rem;
    color: white;
}

.carousel-item .info-text {
    padding-left: 2rem;
    margin-left: 4rem;
    display: flex;
    justify-content: center;
        flex-direction: column;
}

.info-text > * {
    margin: 1.4rem 0;
    color: white;
}

.info-text .info-text-title {
    font-size: 2.6rem;
    font-weight: 900;
}

.info-text .info-text-body {
    font-size: 1rem;
    width: 30rem;
}

.info-text .btn-group .buy-btn {
    font-size: 1rem;
    font-variant: small-caps;
    font-weight: 500;
    color: white;
    background-color: var(--buy-btn-background);  
    border-radius: 50px;
    padding: 0.6rem 3.2rem;
}

.carousel-item .dots-container {
    position: absolute;
    display: flex;
    width: 4.6rem;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.dots-container .dot {
    width: 0.6rem;
    height: 0.6rem;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.dots-container .dot.full {
    background-color: white;
}

#website-body {
    --website-body-background: #e4e5e7;
    --check-mark-color: white;
    --check-mark-background: #00e2aa;
    --delimiter-color: rgba(0,0,0,0.2);
    --sub-items-color: rgba(0,0,0,0.5);
    --link-color: blue;
    --input-background: #f0f2f7;  
    --filter-content-color: #343e5c;
    background-color: var(--website-body-background);
    padding: calc(var(--global-padding) / 2) var(--global-padding) calc(var(--global-padding) / 2) calc(var(--global-padding) + 2rem);
    min-height: 100vh;
}

#website-body .top-filter-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--containers-background);
    border-radius: 0.8rem;
}

.top-filter-container > .filter-area {
    border-right: 1px solid var(--delimiter-color);
    padding: 1rem;
}

.top-filter-container > .filter-area:last-child {
    border-right: none;
}

.filter-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-title, .keywords-title, .price-range-title , .location-title{
    margin-right: 1rem;
}

.match-title, #match-select, .keywords-title, .price-range-title, .location-title, #location-select, .price-range {
    font-variant: small-caps;
    font-weight: 600;
}

.match-title, .keywords-title, .price-range-title, .location-title{
    color: var(--filter-title-color);
}

#match-select, #location-select, .price-range {
    color: var(--filter-content-color);
}

.price-range {
    width: 5rem;
}

.price-range::-webkit-outer-spin-button,
.price-range::-webkit-inner-spin-button  {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.keyword-container, .price-range-container, .shipping-container {
    display: flex;
    align-items: center;
}

.price-range, .keywords-input {
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background-color: var(--input-background);
    padding: 0.4rem;
    text-indent: 0.4rem;
    border: 1px solid rgba(0,0,0,0.1);
}

.keywords-input {
    text-indent: 1rem;
    width: 10rem;
}

.dash-icon {
    font-size: 1rem;
    padding: 0 1rem;
}

.keyword-container, .price-range-container, .shipping-container {
    margin-right: 2rem;
}

.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.radio-custom {
    flex: 1;
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: var(--check-mark-color);
    background-color: var(--check-mark-background);
    font-size: 0.8rem;
    border: none;
}

.main-body {
    --spacing: 2rem;
    --default-radius: 0.4rem;
    display: flex;
    padding: var(--spacing) 0;
}

.main-body .left-filter-section {
    flex: 1;
}

.main-body .products-container {
    flex: 3;
}

.main-body .left-filter-section {
    display: flex;
    flex-direction: column;
}

.left-filter-section .visual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;  
}

.left-filter-section .category {
    margin-bottom: 2rem;
    border-radius: var(--default-radius);
    overflow: hidden;
    border: 1px solid var(--input-background);
}
.left-filter-section .section {
    display: flex;
    flex-direction: column;
    background-color: var(--containers-background);

}

.left-filter-section:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.left-filter-section:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section .section-title {
    font-weight: 500;
}

.section .section-title-sm-caps {
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 2px;
}

.section .section-data {
    display: flex;
    flex-direction: column;
}

.section-data .item.item-title {
    background-color: var(--input-background);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.section > .visual {
    border-bottom: 1px solid var(--input-background);
}

.section-data > * {
    border-bottom: 1px solid var(--delimiter-color);
}

.section-data > *:first-child {
    border-top: 1px solid var(--delimiter-color);
}

.section-data .item .item-title {
    font-weight: 600;
    font-size: 1rem;
    font-variant: small-caps;
    color: var(--sub-items-color);
}

.section-data .item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.closed {
    display: none;
}

.opened {
    display: block;
}

.visual .section-select {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-select-variant {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.section-select-variant .select-variant {
    margin-right: 1rem;
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid #e4e8f0;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 4px 0px white inset;
    cursor: pointer;
}

.select-variant:before {
    content:'';
    display:block;
    width:40%;
    height:40%;
    border-radius:50%;    
}

.select-variant:checked:before {
    background-color: #00deea;
}

.section-select-variant label {
    font-weight: 500;
    cursor: pointer;
}

.section-select-variant .quantity {
    font-weight: 500;
    color: var(--filter-title-color);
    font-variant: small-caps;
    font-size: 0.8rem;
}

.visual .all {
    border-bottom: 1px solid gray;
    font-weight: 700;
    font-variant: small-caps;
    color: var(--link-color);
}

.check-custom {
    opacity: 0;
    position: absolute;   
}

.check-custom, .check-custom-label {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.check-custom {
    flex: 1;
}

.check-custom + .check-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.check-custom + .check-custom-label:before {
    border-radius: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-custom:checked + .check-custom-label:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: var(--check-mark-color);
    background-color: var(--check-mark-background);
    font-size: 0.8rem;
    border: none;
}

.check-custom-container .check-custom-label {
    font-weight: 700;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.visual.no-bb {
    border-bottom: none;
    padding: 0.2rem 2rem;
}

.visual.no-bb:last-child {
    padding-bottom: 1rem;
}

.visual.no-b {
    border-bottom: none;
    padding: 0 2rem;
}

.section-select.row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;}

.section-select-variant.row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.section-delimiter {
    height: 4rem;
    width: 1px;
    background-color: rgba(0,0,0, 0.1);
}

.section-select-variant.pp label {
    text-transform: uppercase;
    font-weight: 600;
}

.products-container {
    --product-background: white;
    --buy-button-color: rgba(0,0,0,0.3);
    --simple-height: 300px;
    --product-height: 450px;
    --default-width: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: 1fr; */
    /* grid-auto-flow: row; */
    justify-content: space-between;
    padding-left: var(--spacing);
    gap: var(--spacing);
}

.products-container .product {
    border-radius: var(--default-radius);
    cursor: pointer;
    overflow: hidden;
    max-height: calc(var(--product-height) * 2.5);
}

.products-container .product {
    background-color: var(--product-background);
}

.fotorama__arr{
    position: relative;
    visibility: hidden;
}

.fotorama__arr--next::before {
    content: '\f105';
}

.fotorama__arr--prev::before {
    content: '\f104';
}

.fotorama__arr--next::before, .fotorama__arr--prev::before {
    font-family: 'Font Awesome 5 Pro';
    visibility: visible;
    font-size: 1.4rem;
    color: white;
    position: absolute;
    border-radius: 50%;
    width: 150%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    border: 3px solid rgba(255,255,255,0.3);
    transform: translate(-50%, -50%);
}

.fotorama__arr--next {
    right: 8rem !important;
}

.fotorama__arr--prev {
    left: 8rem !important;
}

.products-container .product.simple {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing) * 2) var(--spacing);
    justify-content: space-around;
}

.product.simple > * {
    margin-bottom: 0.5rem;
}

.product.simple .img-content {
    height: 200px;
    object-fit: contain;
    align-self: center;
    justify-self: right;
}

.product.simple .product-title, .product.complicated .details .product-title {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.product.simple .product-color {
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    text-align: center;
}

.product-details .left-side .product-color {
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.product.simple .product-price, .product.complicated .details .product-price {
    color: var(--nav-elements-color);
    font-variant: small-caps;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5rem;
}

.product.promoted {
    display: flex;
    flex-direction: column;
}

.product.promoted .img-container {
    width: 100%;
    position: relative;
}

.product.promoted .img-content {
    width: 100%;
    object-fit: contain;
}

.product.promoted .img-container .product-price {
    position: absolute;
    left: 12px;
    top: 12px;
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: var(--default-radius);
    font-weight: 700;
    font-size: 1rem;
}

.product.promoted .product-details {
    display: flex;
    justify-content: space-between;
    padding: 21px 24px;
}

.product.promoted .product-details .right-side .details {
    display: flex;
    border: 1px solid var(--buy-button-color);
    border-radius: 50px;
    font-weight: 600;
    align-items: center;
}

.product-details .right-side .details > * {
    color: var(--promoted-color);
    flex: 1;
    padding: 0.5rem 1rem;
}

.product-details .right-side .details > *:first-child {
    border-right: 1px solid var(--buy-button-color);
}

.product-details .right-side .details .buy {
    width: 8rem;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1rem;
}

.product-details .left-side .product-title {
    font-weight: 500;
    font-size: 1rem;
}

.product.complicated .img-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.product.complicated .img-container .img-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product.complicated .details {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.size-s {
    grid-column: span 1;
}

.size-m {
    grid-column: span 2;
}

#pagination {
    background-color: var(--containers-background);
    display: flex;
    justify-content: space-between;
}

#pagination .left-arrow, #pagination .right-arrow  {
    flex: 3;
}

#pagination .left-arrow, 
#pagination .right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1.2rem 0;
}

#pagination .icon {
    font-size: 1.5rem;
}

#pagination > * {
    border-right: 1px solid var(--filter-title-color);
}

#pagination > *:last-child {
    border-right: none;
}

#pagination .page-numbers {
    padding: 0.5rem 20rem;
    display: flex;
    align-items: center;
    flex: 6;
    justify-content: space-around;
}

.page-numbers .individual a {
    display: flex;
    cursor: pointer;
    color: var(--promoted-color);
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.1rem;
    transition: box-shadow 500ms ease;
    font-weight: 500;
}

.individual a.active {
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.3);
}

.page-numbers .individual a:hover {
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.2);
    transition: box-shadow 500ms ease;
}

#recommended {
    --title-color: #343e5c;
    --rec-color: rgba(0,0,0,0.4);
    --product-width: 20rem;
    background-color: var(--containers-background);
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--global-padding) / 2);
    border-radius: var(--default-radius);
    overflow: hidden;
}

#recommended .recommended-title{
    text-align: center;
    color: var(--title-color);
    font-weight: 700;
    font-variant: small-caps;
    padding: 1rem;
    border-bottom: 1px solid var(--delimiter-color);
}

#recommended .recommended-products {
    display: flex;
}

.recommended-product .recommended-product-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.recommended-product .img-content {
    align-self: center;
    justify-self: center;
}

.recommended-product-color {
    font-size: 1rem;
    font-variant: small-caps;
    color: var(--rec-color);
    font-weight: 700;
}

.recommended-product{
    border-right: 1px solid var(--delimiter-color);
    flex: 1;
    width: var(--product-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.recommended-product > * {
    margin-bottom: 1rem;
}

.rec-prod-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommended-product .img-content {
    height: 60%;
    object-fit: contain;
}

.reccomended-products .recommended-product:last-child {
    border-right: none;
}

.recommended-product .price-container {
    display: flex;
    justify-content: space-around;
}

.recommended-product .price-container > * {
    padding: 1rem;
}

.price.old {
    text-decoration: line-through;
    color: var(--rec-color);
}

.section-select label {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.reviews-container {
    padding: 5rem;
}

#reviews {
    --reviews-color: rgba(0,0,0,0.3);
    background-color: var(--containers-background);
    display: flex;
    flex-direction: column;
}

#reviews .reviews-title {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.reviews-subtitle {
    font-size: 1rem;
    color: var(--reviews-color);
    font-weight: 500;
    text-align: center;
    font-style: italic;
    padding: 0.6rem 0;
}

.rev-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.rev-container .top-part .avatar {
    border-radius: 50%;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.rev .top-part {
    display: flex;
    margin-bottom: 1rem;
}

.rev .top-part .rev-content {
    font-family: Arial;
    font-size: 1.2rem;
}

.rev .top-part .name {
    font-size: 1rem;
    color: var(--nav-elements-color);
    font-weight: 600;
}

.rev .top-part .position {
    color: var(--filter-title-color);
    font-style: italic;
    font-size: 0.8rem;
}

.rev {
    width: 25%;
    padding: 4rem;
}

#footer {
    --footer-background: #222328;
    --quote-color: #616265;
    background-color: var(--footer-background); 
    padding: 1rem calc(var(--global-padding) + 2rem) 3rem calc(var(--global-padding) + 2rem);
}

#footer .with-menu {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    border-bottom: 1px solid var(--quote-color) ;
}

#footer .bottom-part {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

#footer .bottom-part .quote {
    font-style: italic;
    font-size: 1.1rem;
    color: var(--quote-color);
    font-weight: 300;
    font-family: 'Crimson Pro';
}

#footer .bottom-part > * {
    flex: 1;
}

#footer .bottom-part .additional {
    font-size: 1rem;
    display: flex;
    justify-content: end;
    font-variant: small-caps;
}

#footer .bottom-part .additional > *{
    color: var(--quote-color);
    margin-right: 2rem;
    font-weight: 600;
}

#footer .bottom-part .additional > *:last-child{
    margin-right: 0;
}

.with-menu .logo {
    flex: 1
}

.with-menu .logo .logo-image {
    width: 6rem;
    object-fit: contain;
    cursor: pointer;
}

.with-menu .footer-menu .menu-item  {
    color: white;   
    font-variant: small-caps;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0 1rem;
}

.with-menu .socials .social > *{
    color: white;
    font-size: 1.4rem;
    padding: 0.4rem
}

.with-menu .footer-menu {
    text-align: center;
}

.with-menu .footer-menu {
    flex: 4;
}

.with-menu .socials {
    flex: 1;
}

.my-select {
    width: 8rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: background-color 600ms ease;
    font-variant: small-caps;
    font-weight: 600;
}

.section-arrow .right-arrow-icon {
    transition: all 200ms ease;
}

.my-select:hover {
    background-color: var(--select-hover);
    transition: background-color 600ms ease;
}

.my-select .arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.my-select .arrow .icon {
    font-size: 12px;
    transition: all 500ms ease;
}

.my-select .options {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 100%;
    border-top: none;
    z-index: 110;
}

.my-select .options .option {
    padding: 0.6rem 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: white;
    background-color: var(--select-options-background);
}

.my-select .options .option:hover {
    color: var(--select-options-background);
    background-color: white;
}

.my-select .options .option:last-child {
    border-bottom: none;
}

.my-select .my-select-selected {
    margin-right: 2rem;
}

.my-select[data-open="false"] .options {
    display: none;
}

.my-select[data-open="true"] .options {
    display: block;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.check-custom-container label{
    color: #343e5c;
}

.visual .quan {
    color: #b8bfd3;
    font-weight: 600;
}

.category-menu {
    overflow: hidden;
}

.special-section .visual {
    z-index: 101;
    background-color: white;
}

.special-section .section-data {
    max-height: 0;
    transition: all 500ms ease;
    overflow: hidden;
}
